# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=42securepassword
DB_NAME=ai_consultant
DB_PORT=3306
JWT_SECRET=a_jwt_secret_key
# Server Configuration
PORT=3000

GROQ_APY_KEY
GROQ_MODEL=openai/gpt-oss-20b

# Email Configuration
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=your_email@ethereal.email
EMAIL_PSSWD=your_email_password