# Database Configuration
DB_HOST
DB_USER
DB_PASS
DB_NAME
DB_PORT

JWT_SECRET
# Server Configuration
PORT



GROQ_MODEL
GROQ_API_KEY

# Email Configuration
EMAIL_HOSTç
EMAIL_PORT
EMAIL_USER
EMAIL_PSSWD

