<div class="login-card">
    <div class="header">
        <p-button 
            icon="pi pi-arrow-left"
            [text]="true"
            [rounded]="true"
            (onClick)="goBack()" 
            styleClass="back-button"
            ariaLabel="Volver a la página principal"
        ></p-button>
        <h2>Bienvenido</h2>
        <p>Ingresa tus credenciales para continuar</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-container">
        
        <!-- User ID Field -->
        <div class="field">
            <p-floatLabel variant="on">
                <input 
                    pInputText 
                    id="userId" 
                    formControlName="userId" 
                    class="w-full" 
                    [ngClass]="{'ng-invalid ng-dirty': loginForm.get('userId')?.invalid && loginForm.get('userId')?.touched}"
                />
                <label for="userId">Usuario / Correo</label>
            </p-floatLabel>
            <small *ngIf="loginForm.get('userId')?.invalid && loginForm.get('userId')?.touched" class="error-text">
                El usuario es requerido
            </small>
        </div>

        <!-- Password Field -->
        <div class="field">
            <p-floatLabel variant="on">
                <p-password 
                    id="password" 
                    formControlName="password" 
                    [feedback]="false" 
                    [toggleMask]="true"
                    styleClass="w-full"
                    inputStyleClass="w-full"
                    [ngClass]="{'ng-invalid ng-dirty': loginForm.get('password')?.invalid && loginForm.get('password')?.touched}"
                ></p-password>
                <label for="password">Contraseña</label>
            </p-floatLabel>
            <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-text">
                La contraseña es requerida
            </small>
        </div>

        <!-- El mensaje de error ahora se muestra en el popup global -->

        <!-- Submit Button -->
        <div class="button-container">
            <p-button 
                label="Iniciar Sesión" 
                type="submit" 
                [loading]="loading" 
                styleClass="custom-btn"
            ></p-button>
        </div>
    </form>
</div>
